body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
.user-avatar{
  width: 28px;
  height: 28px;
  border-radius: 50%;
  margin-right: 4px;
}